# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#   1.9.421.1321
#
#   ONE REQUIRED SETTING:
#
#   1. MUSICBRAINZ_REPLICATION_TOKEN
#
#   OPTIONAL:
#
#   TZ + STORAGE, NETWORK, UID/GID Override - primarily for UNRAID /appdata storage
#
#   Don't change anything else.
#
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# MusicBrainz authorization token to access their data server:
# go to https://metabrainz.org/profile
#
MUSICBRAINZ_REPLICATION_TOKEN=


# If your host's timezone is incorrect, do yourself a favour and set it here:
#
# TZ=Europe/Lisbon

# ===============================================================================
#
# UNRAID RECOMMENDED: Deploy using CLI docker compose inside an LXC using the LXC Plugin
# and deploy Lidarr natively on Unraid or a different LXC (recommended, with its own Postgres)
#
# If you absolutely want to install directly on Unraid's host, then use
# Docker Compose Manager Plus and the overrides below:
#
#  UNRAID CUSTOM CONFIGURATION - for use with Compose Manager Plus ONLY
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
#
# LIMBO_DATA_ROOT=/mnt/user/appdata/limbo
# LIMBO_NETWORK_NAME=
# LIMBO_NETWORK_EXTERNAL=
#
# LIMBO_UID= 99
# LIMBO_GID= 100
# LIMBO_UMASK= 002




# ===============================================================================
#
# ADVANCED
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# PORT Assignments
# - - - - - - - - -

LIMBO_PORT=4808
LIMBO_HOST_HELPER_PORT=4809
LIMBO_STICK_PORT=4810
LIMBO_STICK_PROXY_PORT=4811
LIMBO_DLDR_API_PORT=4812
LIMBO_ADMIN_PORT=4815
LIMBO_MQ_PORT=4816
LIMBO_SOLR_PORT=4817
LIMBO_MBDB_PORT=4818
LIMBO_REDIS_PORT=4819
LIMBO_MBRAINZ_WEB_PORT=4820
LIMBO_DLDR_SOULSEEK_PORT=50300


# Additional Bring-up / Runtime Configuration
# - - - - - - - - - - - - - - - - -

# Initial download/setup tuning
SEARCH_BOOTSTRAP_MAX_PARALLEL=2
SEARCH_BOOTSTRAP_WGET_OPTS=

# Database Settings
POSTGRES_SHARED_BUFFERS=4GB
POSTGRES_SHM_SIZE=4GB
SOLR_HEAP=4g

LIMBO_RUNTIME_SANITY_ENABLED= #(default true)
LIMBO_RUNTIME_SANITY_FAIL_ON_FATAL= #(default false)
LIMBO_RUNTIME_SANITY_WARN_ONLY= #(default false)


# ===============================================================================
#
# Limbo Hook Settings (Advanced use for adding third-party modules)
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

# Optional extension hooks (run after built-in processing)
# LIMBO_DB_HOOK_AFTER_MODULE=
# LIMBO_DB_HOOK_AFTER_PATH=
# LIMBO_MITM_AFTER_MODULE=
# LIMBO_MITM_AFTER_PATH=

# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

LIMBO_CHANNEL=latest

# LIMBO_CHANNEL=test
# LIMBO_CHANNEL=latest

# .
